<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PetShop</title>
        <script src="https://kit.fontawesome.com/10434a00a4.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css1/style.css">
        <title>PetShop</title>
        <!-- FAVICON -->
        <link rel="shortcut icon" href="./imagenes/favicon.png" type="image/x-icon">
    
    </head>
<body>

    <header>
        <div id="header-superior">


            <div id="diferenciales">
                <div class="diferencial">
                    <h5>Compras online</h5>
                </div>
                <div class="diferencial">
                    <h5>Pago contra entrega</h5>
                </div>
                <div class="diferencial">
                    <h5>Entregas en el día</h5>
                </div>


                <div id="contacto-header">
                    <h5>Llámanos <span>555-555-555</span></h5>
                    <h5>Escríbenos</h5>
                    <div id="iconos">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f" style="color: white; font-size: 1em;"></i><!--<img src="./imagenes/icons8-facebook-nuevo-50.png" alt="jaja">--></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: white; font-size: 1em;"></i><!--<img src="./imagenes/icons8-instagram-50.png" alt="jaja">--></a>
                        <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter" style="color: white; font-size: 1em;"></i><!--<img src="./imagenes/icons8-twitter-26.png" alt="jaja">--></a>
                    </div>
                </div>
            </div>



        </div>
        <div class="header-inferior">
            <div class="logo">
                    <a href="./index.html"><h4>Pet <i class="fa-solid fa-paw"></i><span>Shop</span></h4></a>
            </div>
            <nav>
                <a href="index.html" target="_blank">Home</a>
                <a href="nosotros.html" target="_blank">Nosotros</a>
                <a href="servicios.html" target="_blank">Servicios</a>
                <a href="./index.html#productos" target="_blank">Productos</a>
                <a href="./index.html#contactenos" target="_blank">Contactenos</a>
            </nav>

            <div id="menu">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div id="formularios">
                <a class="btn-formularios" href="#">Login</a>
                <a class="btn-formularios" href="./registro.html">Registro</a>
            </div>
        </div>


    </header>

    

    <main>
        <!-- SECCIÓN SERVICIOS -->
        <!-- CONSUMIENDO API -->

        <section>

            <h2 class="title-section">Bienvenido Administrador</h2>


            <table id="tabla_productos">
                
                <th>
                    <td>id</td>
                    <td>Nombre</td>
                    <td>Precio</td>
                    <td>Stock</td>
                    <td>Categoría</td>
                </th>
                <tbody v-for="producto in productos" class="">
                    
                    <tr>
                        <td>{{elemento.id}}</td>
                        <td>{{elemento.nombre}}</td>
                        <td>{{elemento.precio}}</td>
                        <td>{{elemento.stock}}</td>
                        <td>{{elemento.tipoproducto}}</td>
                    </tr>

                </tbody>
            </table>
           
            <!-- <div id="app">
                 <p>{{datos}}</p>
                <div class="container">
                    <div v-for="elemento in datos" class="">
                        <div class="cuerpo">
                                
                                <img :src="elemento.imagen" :alt="elemento.nombre">
                                <p id="parrafo-api">Nombre: {{elemento.nombre}}</p>
                                <p id="parrafo-api2">Precio: {{elemento.precio}}</p>
                                <p id="parrafo-api2">Stock: {{elemento.stock}}</p>
                                <p id="parrafo-api2">Categoría: {{elemento.tipoproducto}}</p>
                        </div>
                    </div>
                </div>
            </div> -->


        </section>
        
        
</main>

<footer>


    <div class="header-inferior">
        <div class="logo">
            <a href="#">
                <h4>Pet<span>Shop</span></h4>
            </a>
        </div>

        <div>
            <div id="iconos_footer">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"
                        style="color: white; font-size: 1em;"></i><!--<img src="./imagenes/icons8-facebook-nuevo-50.png" alt="jaja">--></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"
                        style="color: white; font-size: 1em;"></i><!--<img src="./imagenes/icons8-instagram-50.png" alt="jaja">--></a>
                <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter"
                        style="color: white; font-size: 1em;"></i><!--<img src="./imagenes/icons8-twitter-26.png" alt="jaja">--></a>
                        
            </div>
            <div>
                <h6>&#169 Desarrollado por A prueba y error</h6>
            </div>
        </div>
    </div>

</footer>
<header>
        <div id="header-superior">


            <div id="diferenciales">
                <div class="diferencial">
                    <h5>Compras online</h5>
                </div>
                <div class="diferencial">
                    <h5>Pago contra entrega</h5>
                </div>
                <div class="diferencial">
                    <h5>Entregas en el día</h5>
                </div>


                <div id="contacto-header">
                    <h5>Llámanos <span>555-555-555</span></h5>
                    <h5>Escríbenos</h5>
                    <div id="iconos">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f" style="color: white; font-size: 1em;"></i><!--<img src="./imagenes/icons8-facebook-nuevo-50.png" alt="jaja">--></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: white; font-size: 1em;"></i><!--<img src="./imagenes/icons8-instagram-50.png" alt="jaja">--></a>
                        <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter" style="color: white; font-size: 1em;"></i><!--<img src="./imagenes/icons8-twitter-26.png" alt="jaja">--></a>
                    </div>
                </div>
            </div>



        </div>
        <div class="header-inferior">
            <div class="logo">
                    <a href="./index.html"><h4>Pet <i class="fa-solid fa-paw"></i><span>Shop</span></h4></a>
            </div>
            <nav>
                <a href="index.html" target="_blank">Home</a>
                <a href="nosotros.html" target="_blank">Nosotros</a>
                <a href="servicios.html" target="_blank">Servicios</a>
                <a href="./index.html#productos" target="_blank">Productos</a>
                <a href="./index.html#contactenos" target="_blank">Contactenos</a>
            </nav>

            <div id="menu">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div id="formularios">
                <a class="btn-formularios" href="#">Login</a>
                <a class="btn-formularios" href="./registro.html">Registro</a>
            </div>
        </div>


    </header>
    <!-- LLAMANDO A VUE -->
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- LLAMANDO A JS -->
    <script src="./js/productos.js"></script>

</body>
</html>